{% extends 'base.html' %}

{% load static %} <!-- Add this line to load the static tag -->

{% block navbar %}
  <section class="navbar">
    <img src="{% static 'png/logo.png' %}" alt="Logo" class="logo">
    <a href='{% url "home" %}' class="btn" id="active"> Home </a>
    <a href='{% url "customer-list" %}' class="btn"> Customer </a>
    <a href='{% url "product-list" %}' class="btn"> Products</a>
    <a href='{% url "order-list" %}' class="btn"> Orders </a>
  </section>
{% endblock navbar %}

{% block content %}
    {% include 'application/menu.html' %}
    <h2>Order List</h2>
    <ul>
        {% for order in orders %}
            <li><a href="{% url 'order-detail' order.id %}">{{ order }}</a> - {{ order.order_date }}</li>
        {% endfor %}
    </ul>
    {% include 'application/pagination.html' %}
    {% include 'application/footer.html' %}
{% endblock %}
